<div class="py-3">
  <div class="container">
    <div class="row">
      <div class="container">
        <div class="col-md-12 text-center d-md-flex align-items-center"><i
          class="d-block fa fa-stop-circle fa-2x mr-md-5 text-primary"></i>
          <ul class="nav mx-md-auto d-flex justify-content-center">
            <li class="nav-item"><a class="nav-link active" href="home/employes-siege">الموظفون بالمقر</a></li>
            <li class="nav-item"><a class="nav-link" href="home/correspondants-etranger">المراسلون بالخارج</a></li>
            <li class="nav-item"><a class="nav-link" href="home/gardes">الحراسات</a></li>
            <li class="nav-item"><a class="nav-link" href="home/afis">AFIS</a></li>
            <li class="nav-item"><a class="nav-link" href="home/moyens-transport-administratif">وسيلة النقل الإدارية</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="home/armes">الأسلحة</a></li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="col-md-12 text-center">
          <p class="mt-2 mb-0">© تونس-2021 , جميع الحقوق محفوظة</p>
        </div>
      </div>
    </div>
  </div>
